# Perkenalan

=======================================================

Graded Challenge 5

Nama : Jeni Kasturi

Batch : FTDS_BSD_2

Memprediksi default_payment_next_month apakah pelanggan membayar atau tidak dari database [credit_card_default]('https://console.cloud.google.com/bigquery?p=bigquery-public-data&d=ml_datasets&t=credit_card_default&page=table&project=kisikisilc1&ws=!1m5!1m4!4m3!1sbigquery-public-data!2sml_datasets!3scredit_card_default')

=======================================================

---

# Model Inference

Dalam tahap ini model yang telah kita latih digunakan kembali untuk membuat prediksi atau membuat estimasi berdasarkan data baru, dalam hal ini kita akan menggunakan data sampel yang sudah di drop dari data awal.

### 1. Import Libraries

Import semua library yang dibutuhkan dalam projek.

In [1]:
# import Librarys
import pickle  
import json
import pandas as pd
import numpy as np

### 2. Load Model

In [2]:
# Load all Models

with open('svm_random_best.pkl', 'rb') as file_1: #rb = write binary
    svm_random_best = pickle.load(file_1)

with open('scaler.pkl', 'rb') as file_2: #rb = write binary
    scaler = pickle.load(file_2)

with open('num_col.txt', 'r') as file_3:
    num_col = json.load(file_3)
    
with open('cat_col.txt', 'r') as file_4:
    cat_col = json.load(file_4)

### 3. Load Data Inference

Masukan data yang sebelumnya di drop dari data df dan disimpan sebagai sample.

In [3]:
data_inf = pd.read_csv('data_inf.csv')

Pisahkan antara kolom numerical dan kategorikal

In [4]:
# pisahkan numerical dan categorical columns
data_inf_num = data_inf[num_col]
data_inf_cat = data_inf[cat_col]
data_inf_num

   limit_balance
0       400000.0

Selanjutnya kita tampilkan data inf yang sebelumnya kita simpan

In [5]:
data_inf.head()

,limit_balance,sex,education_level,marital_status,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,bill_amt_4,bill_amt_5,bill_amt_6,pay_amt_1,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6,default_payment_next_month
0,400000.0,2,2,2,40.0,1.0,-2.0,-2.0,-2.0,-2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [6]:
#Feature scaling and encoding
data_inf_num_scaled = scaler.transform(data_inf_num)

Reset data INF

In [7]:
#Reset index
data_inf_cat_encoded = pd.DataFrame(data_inf_cat)
data_inf_cat_encoded.reset_index(drop = True, inplace = True)

Lakukan concat untuk menggabungkan object dari data inf

In [8]:
#Concat data inference scaled dan encoded
data_inf_final=np.concatenate([data_inf_num,data_inf_cat],axis=1)

Tampilkan prediksi final

In [9]:
#predict new data inference using linear regression

y_pred_inf = svm_random_best.predict(data_inf_final)
y_pred_inf

c:\Users\W1OPro\anaconda3\envs\Hacktiv8\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [10]:
print('Hasil prediksi default_payment_next_month adalah : ', round(y_pred_inf[0],2))

Hasil prediksi default_payment_next_month adalah :  0

Karena 0 = Bayar dan 1 = gagal bayar, artinya hasil prediksi adalah bayar.

Setelah model ini di implementasikan pada notebook inference dapat diketahui bahwa hasil prediksi masih sesuai dengan model.

---